/* color palette */
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700,100");
html, body { height: 100%; margin: 0 auto; }

@media screen and (max-width: 480px) { #container { width: 100%; height: 100%; margin: 0 auto; }
  #headBox { width: 100%; height: 16vw; box-sizing: border-box; padding: 4vw 20px; background-color: #e3bb82; }
  #headBox > h1 { width: 36vw; height: 12vw; text-indent: -9999px; }
  #headBox > h1 > a { width: 100%; height: 100%; display: block; background-image: url("../img/name_logo.png"); background-position: top left; background-repeat: no-repeat; background-size: 100%; }
  #headBox .icon_box { z-index: 111; width: 8.3333vw; height: 8.3333vw; margin: 0 auto; top: 8.3333vw; right: 8.3333vw; /* 40px */ cursor: pointer; position: absolute; }
  #headBox .icon_box > .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; position: absolute; top: 0; right: 0; margin: 0 auto; width: 8.3333vw; height: 2px; background-color: #e9ddcc; }
  #headBox .icon_box > .menu_icon:before, #headBox .icon_box > .menu_icon:after { -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out; position: absolute; width: 8.3333vw; height: 2px; background-color: #e9ddcc; content: ''; }
  #headBox .icon_box > .menu_icon:before { top: -2.0833vw; left: 0; }
  #headBox .icon_box > .menu_icon:after { top: 2.0833vw; left: 0; }
  #headBox .icon_box:hover .menu_icon { background-color: #ac926d; }
  #headBox .icon_box:hover .menu_icon:before { top: -3.125vw; background-color: #e9ddcc; }
  #headBox .icon_box:hover .menu_icon:after { top: 3.125vw; background-color: #e9ddcc; }
  #headBox .icon_box.open .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; background-color: transparent; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  #headBox .icon_box.open .menu_icon:before { top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  #headBox .icon_box.open .menu_icon:after { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  #content { width: 100%; height: auto; }
  #content > h2 { width: auto; height: 40px; /* 40px */ margin: 40px 0 20px 20px; color: #1b1b03; font-size: 4vw; font-family: "Exo2"; font-weight: bold; }
  #content > #menu { width: 100%; height: auto; box-sizing: border-box; padding: 28.75vw 6.25vw 4.1667vw; position: absolute; z-index: 110; top: 0; left: 0; background-color: rgba(227, 187, 130, 0.9); }
  #content > #menu > ul { width: 100%; height: auto; text-align: center; }
  #content > #menu > ul > li { margin-bottom: 10vw; }
  #content > #menu > ul > li > a { width: 100%; height: 100%; display: block; text-decoration: none; color: #FFFFFF; font-family: "Exo 2"; font-size: 5vw; font-weight: normal 400; }
  #content > #menu > ul > li > a:active { color: #ac926d; }
  #content > #menu > ul > li:nth-child(even) { width: 100%; height: 0.4167vw; /* 4px */ background-image: url("../img/line_img.png"); background-position: center left; background-repeat: repeat; overflow: hidden; margin-bottom: 10vw; /* 29px */ opacity: 0.8; }
  #content > #menu > ul > li:last-child { margin-bottom: 100%; background: none; }
  #content > #contactBox { width: 100%; height: auto; box-sizing: border-box; padding: 5% 8%; }
  #content > #contactBox > ul { width: 100%; height: auto; border: 4px solid #e9ddcc; padding: 10% 0; }
  #content > #contactBox > ul > li { width: 100%; height: auto; color: #101010; font-size: 3.3333vw; /*1rem;*/ font-weight: bold; text-align: center; margin-bottom: 10px; }
  #content > #contactBox > ul > li > a { display: block; text-decoration: none; color: #101010; }
  #content > #contactBox > ul > li:first-child { font-size: 5vw; /*1.5rem;*/ margin-bottom: 2px; }
  #content > #contactBox > ul > li:nth-child(2) { color: #ac926d; }
  #footBox { width: 100%; height: 40px; /* 40px */ margin: 0 auto; }
  #footBox > p { color: #080600; font-size: 0.75rem; /* 12pt, 0.75em */ text-align: center; font-weight: 200; margin-top: 35%; margin-bottom: 20px; } }
@media screen and (min-width: 481px) and (max-width: 640px) { #container { width: 100%; height: 100%; margin: 0 auto; }
  #headBox { width: 100%; height: 16vw; box-sizing: border-box; padding: 4vw 20px; background-color: #e3bb82; }
  #headBox > h1 { width: 36vw; height: 12vw; text-indent: -9999px; }
  #headBox > h1 > a { width: 100%; height: 100%; display: block; background-image: url("../img/name_logo.png"); background-position: top left; background-repeat: no-repeat; background-size: 100%; }
  #headBox .icon_box { z-index: 111; width: 8.3333vw; height: 8.3333vw; margin: 0 auto; top: 8.3333vw; right: 8.3333vw; /* 40px */ cursor: pointer; position: absolute; }
  #headBox .icon_box > .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; position: absolute; top: 0; right: 0; margin: 0 auto; width: 8.3333vw; height: 2px; background-color: #e9ddcc; }
  #headBox .icon_box > .menu_icon:before, #headBox .icon_box > .menu_icon:after { -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out; position: absolute; width: 8.3333vw; height: 2px; background-color: #e9ddcc; content: ''; }
  #headBox .icon_box > .menu_icon:before { top: -2.0833vw; left: 0; }
  #headBox .icon_box > .menu_icon:after { top: 2.0833vw; left: 0; }
  #headBox .icon_box:hover .menu_icon { background-color: #ac926d; }
  #headBox .icon_box:hover .menu_icon:before { top: -3.125vw; background-color: #e9ddcc; }
  #headBox .icon_box:hover .menu_icon:after { top: 3.125vw; background-color: #e9ddcc; }
  #headBox .icon_box.open .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; background-color: transparent; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  #headBox .icon_box.open .menu_icon:before { top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  #headBox .icon_box.open .menu_icon:after { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  #content { width: 100%; height: auto; }
  #content > h2 { width: auto; height: 40px; /* 40px */ margin: 40px 0 20px 20px; color: #1b1b03; font-size: 4vw; font-family: "Exo2"; font-weight: bold; }
  #content > #menu { width: 100%; height: auto; box-sizing: border-box; padding: 28.75vw 6.25vw 4.1667vw; position: absolute; z-index: 110; top: 0; left: 0; background-color: rgba(227, 187, 130, 0.9); }
  #content > #menu > ul { width: 100%; height: auto; text-align: center; }
  #content > #menu > ul > li { margin-bottom: 6.042vw; }
  #content > #menu > ul > li > a { width: 100%; height: 100%; display: block; text-decoration: none; color: #FFFFFF; font-family: "Exo 2"; font-size: 5vw; font-weight: normal 400; }
  #content > #menu > ul > li > a:active { color: #ac926d; }
  #content > #menu > ul > li:nth-child(even) { width: 100%; height: 0.4167vw; /* 4px */ background-image: url("../img/line_img.png"); background-position: center left; background-repeat: repeat; overflow: hidden; margin-bottom: 6.042vw; /* 29px */ opacity: 0.8; }
  #content > #menu > ul > li:last-child { margin-bottom: 100%; background: none; }
  #content > #contactBox { width: 100%; height: auto; box-sizing: border-box; padding: 5% 12%; }
  #content > #contactBox > ul { width: 100%; height: auto; border: 4px solid #e9ddcc; padding: 10% 0; }
  #content > #contactBox > ul > li { width: 100%; height: auto; color: #101010; font-size: 1rem; font-weight: bold; text-align: center; margin-bottom: 10px; }
  #content > #contactBox > ul > li > a { display: block; text-decoration: none; color: #101010; }
  #content > #contactBox > ul > li:first-child { font-size: 1.5rem; margin-bottom: 2px; }
  #content > #contactBox > ul > li:nth-child(2) { color: #ac926d; }
  #footBox { width: 100%; height: 40px; /* 40px */ margin: 0 auto; }
  #footBox > p { color: #080600; font-size: 0.75rem; /* 12pt, 0.75em */ text-align: center; font-weight: 200; margin-top: 35%; margin-bottom: 20px; } }
@media screen and (min-width: 641px) and (max-width: 768px) { #container { width: 100%; height: 100%; margin: 0 auto; }
  #headBox { width: 100%; height: auto; box-sizing: border-box; padding: 20px 20px; background-color: #e3bb82; }
  #headBox > h1 { width: 26vw; /*200px; */ height: 50px; /* 90px */ }
  #headBox > h1 > a { width: 100%; height: 100%; display: block; margin-top: 20px; background-image: url("../img/name_logo.png"); background-position: top left; background-repeat: no-repeat; background-size: 100%; text-indent: -9999px; }
  #headBox .icon_box { z-index: 111; width: 8.3333vw; height: 8.3333vw; margin: 0 auto; top: 12.5vw; /* 60px */ right: 8.3333vw; /* 40px */ cursor: pointer; position: absolute; display: none; }
  #headBox .icon_box > .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; position: absolute; top: 0; right: 0; margin: 0 auto; width: 8.3333vw; /* 40px */ height: 2px; background-color: #e9ddcc; }
  #headBox .icon_box > .menu_icon:before, #headBox .icon_box > .menu_icon:after { -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out; position: absolute; width: 8.3333vw; height: 2px; background-color: #e9ddcc; content: ''; }
  #headBox .icon_box > .menu_icon:before { top: -2.0833vw; left: 0; }
  #headBox .icon_box > .menu_icon:after { top: 2.0833vw; left: 0; }
  #headBox .icon_box:hover .menu_icon { background-color: #e3bb82; }
  #headBox .icon_box:hover .menu_icon:before { top: -3.125vw; background-color: #e3bb82; }
  #headBox .icon_box:hover .menu_icon:after { top: 3.125vw; background-color: #e3bb82; }
  #headBox .icon_box.open .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; background-color: transparent; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  #headBox .icon_box.open .menu_icon:before { top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  #headBox .icon_box.open .menu_icon:after { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  #content { width: 100%; height: auto; }
  #content > h2 { width: auto; height: 40px; /* 40px */ margin-top: 40px; /* 40px */ margin-left: 20px; color: #1b1b03; font-size: 1.5rem; font-family: "Exo2"; font-weight: bold; }
  #content > #mainMenu { width: 70%; height: 54px; /* 54px */ position: absolute; top: 7%; right: 0; /* border-bottom: 1px solid $main;*/ margin-bottom: 20px; }
  #content > #mainMenu > ul { width: 100%; height: 100%; float: right; box-sizing: border-box; padding: 12px 20px 12px 20px; }
  #content > #mainMenu > ul > li { width: 12vw; /* 180px */ height: 100%; float: left; margin-right: 3.75vw; /* 60px; */ text-align: center; }
  #content > #mainMenu > ul > li:last-child { margin-right: 0; }
  #content > #mainMenu > ul > li:nth-child(4) > a { color: #ac926d; font-size: 2.65vw; }
  #content > #mainMenu > ul > li > a { width: 100%; height: 100%; display: block; float: right; text-decoration: none; color: #FFFFFF; font-size: 2.5vw; /* 12px (1rem) */ font-weight: 400; }
  #content > #mainMenu > ul > li > a:hover { color: #ac926d; font-size: 2.65vw; }
  #content > #mainMenu > ul > li > a:active { color: #ac926d; }
  #content > #menu { display: none; }
  #content > #contactBox { width: 100%; height: auto; box-sizing: border-box; padding: 5% 15%; }
  #content > #contactBox > ul { width: 100%; height: auto; border: 4px solid #e9ddcc; padding: 10% 0; }
  #content > #contactBox > ul > li { width: 100%; height: auto; color: #101010; font-size: 1rem; font-weight: bold; text-align: center; margin-bottom: 10px; }
  #content > #contactBox > ul > li > a { display: block; text-decoration: none; color: #101010; }
  #content > #contactBox > ul > li:first-child { font-size: 1.5rem; margin-bottom: 2px; }
  #content > #contactBox > ul > li:nth-child(2) { color: #ac926d; }
  #footBox { width: 100%; height: 40px; /* 40px */ margin: 0 auto; }
  #footBox > p { color: #080600; font-size: 0.75rem; /* 12pt, 0.75em */ text-align: center; font-weight: 200; margin-bottom: 20px; } }
@media screen and (min-width: 769px) and (max-width: 1024px) { #container { width: 100%; height: auto; margin: 0 auto; overflow-x: hidden; }
  #headBox { width: 100%; height: auto; box-sizing: border-box; padding: 20px 20px; background-color: #e3bb82; }
  #headBox > h1 { width: 200px; /*100px*/ height: 50px; /* 90px */ }
  #headBox > h1 > a { width: 100%; height: 100%; display: block; margin-top: 20px; background-image: url("../img/name_logo.png"); background-position: top left; background-repeat: no-repeat; background-size: 100%; text-indent: -9999px; }
  #headBox .icon_box { z-index: 111; width: 8.3333vw; height: 8.3333vw; margin: 0 auto; top: 12.5vw; /* 60px */ right: 8.3333vw; /* 40px */ cursor: pointer; position: absolute; display: none; }
  #headBox .icon_box > .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; position: absolute; top: 0; right: 0; margin: 0 auto; width: 8.3333vw; /* 40px */ height: 2px; background-color: #e9ddcc; }
  #headBox .icon_box > .menu_icon:before, #headBox .icon_box > .menu_icon:after { -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out; position: absolute; width: 8.3333vw; height: 2px; background-color: #e9ddcc; content: ''; }
  #headBox .icon_box > .menu_icon:before { top: -2.0833vw; left: 0; }
  #headBox .icon_box > .menu_icon:after { top: 2.0833vw; left: 0; }
  #headBox .icon_box:hover .menu_icon { background-color: #e3bb82; }
  #headBox .icon_box:hover .menu_icon:before { top: -3.125vw; background-color: #e3bb82; }
  #headBox .icon_box:hover .menu_icon:after { top: 3.125vw; background-color: #e3bb82; }
  #headBox .icon_box.open .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; background-color: transparent; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  #headBox .icon_box.open .menu_icon:before { top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  #headBox .icon_box.open .menu_icon:after { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  #content { width: 100%; height: auto; }
  #content > h2 { width: 100%; height: 40px; /* 40px */ margin-top: 40px; /* 40px */ margin-left: 20px; color: #1b1b03; font-size: 2rem; font-family: "Exo2"; font-weight: bold; }
  #content > #mainMenu { width: 70%; height: 54px; /* 54px */ position: absolute; top: 7%; right: 0; /* border-bottom: 1px solid $main;*/ margin-bottom: 20px; }
  #content > #mainMenu > ul { width: 100%; height: 100%; float: right; box-sizing: border-box; padding: 12px 20px 12px 20px; }
  #content > #mainMenu > ul > li { width: 12vw; /* 180px */ height: 100%; float: left; margin-right: 3.75vw; /* 60px; */ text-align: center; }
  #content > #mainMenu > ul > li:last-child { margin-right: 0; }
  #content > #mainMenu > ul > li:nth-child(4) > a { color: #ac926d; font-size: 2.65vw; }
  #content > #mainMenu > ul > li > a { width: 100%; height: 100%; display: block; float: right; text-decoration: none; color: #FFFFFF; font-size: 2.5vw; /* 12px (1rem) */ font-weight: 400; }
  #content > #mainMenu > ul > li > a:hover { color: #ac926d; font-size: 2.65vw; }
  #content > #mainMenu > ul > li > a:active { color: #ac926d; }
  #content > #menu { display: none; }
  #content > #contactBox { width: 100%; height: auto; box-sizing: border-box; padding: 5% 22%; }
  #content > #contactBox > ul { width: 100%; height: auto; border: 4px solid #e9ddcc; padding: 10% 0; }
  #content > #contactBox > ul > li { width: 100%; height: auto; color: #101010; font-size: 1rem; font-weight: bold; text-align: center; margin-bottom: 10px; }
  #content > #contactBox > ul > li > a { display: block; text-decoration: none; color: #101010; }
  #content > #contactBox > ul > li:first-child { font-size: 1.5rem; margin-bottom: 2px; }
  #content > #contactBox > ul > li:nth-child(2) { color: #ac926d; }
  #footBox { width: 100%; height: 40px; /* 40px */ margin: 0 auto; }
  #footBox > p { color: #080600; font-size: 0.75rem; /* 12pt, 0.75em */ text-align: center; font-weight: 200; margin-bottom: 20px; } }
@media screen and (min-width: 1025px) { #container { width: 100%; height: 100%; margin: 0 auto; }
  #headBox { width: 100%; height: auto; box-sizing: border-box; padding: 20px 20px; background-color: #e3bb82; }
  #headBox > h1 { width: 200px; /*100px*/ height: 50px; /* 90px */ }
  #headBox > h1 > a { width: 100%; height: 100%; display: block; margin-top: 20px; background-image: url("../img/name_logo.png"); background-position: top left; background-repeat: no-repeat; background-size: 100%; text-indent: -9999px; }
  #headBox .icon_box { z-index: 111; width: 8.3333vw; height: 8.3333vw; margin: 0 auto; top: 12.5vw; /* 60px */ right: 8.3333vw; /* 40px */ cursor: pointer; position: absolute; display: none; }
  #headBox .icon_box > .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; position: absolute; top: 0; right: 0; margin: 0 auto; width: 8.3333vw; /* 40px */ height: 2px; background-color: #e9ddcc; }
  #headBox .icon_box > .menu_icon:before, #headBox .icon_box > .menu_icon:after { -webkit-transition: all 0.25s ease-out; transition: all 0.25s ease-out; position: absolute; width: 8.3333vw; height: 2px; background-color: #e9ddcc; content: ''; }
  #headBox .icon_box > .menu_icon:before { top: -2.0833vw; left: 0; }
  #headBox .icon_box > .menu_icon:after { top: 2.0833vw; left: 0; }
  #headBox .icon_box:hover .menu_icon { background-color: #e3bb82; }
  #headBox .icon_box:hover .menu_icon:before { top: -3.125vw; background-color: #e3bb82; }
  #headBox .icon_box:hover .menu_icon:after { top: 3.125vw; background-color: #e3bb82; }
  #headBox .icon_box.open .menu_icon { -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; background-color: transparent; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  #headBox .icon_box.open .menu_icon:before { top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
  #headBox .icon_box.open .menu_icon:after { top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
  #content { width: 100%; height: auto; }
  #content > h2 { width: auto; height: 40px; /* 40px */ margin-top: 40px; /* 40px */ margin-left: 20px; color: #1b1b03; font-size: 2rem; font-family: "Exo2"; font-weight: bold; }
  #content > #mainMenu { width: 70%; height: 54px; /* 54px */ position: absolute; top: 5%; right: 0; /* border-bottom: 1px solid $main;*/ margin-bottom: 20px; }
  #content > #mainMenu > ul { width: 100%; height: 100%; float: right; box-sizing: border-box; padding: 12px 20px 12px 20px; }
  #content > #mainMenu > ul > li { width: 12vw; /* 180px */ height: 100%; float: left; margin-right: 3.75vw; /* 60px; */ text-align: center; }
  #content > #mainMenu > ul > li:last-child { margin-right: 0; }
  #content > #mainMenu > ul > li:nth-child(4) > a { color: #ac926d; font-size: 1.8rem; }
  #content > #mainMenu > ul > li > a { width: 100%; height: 100%; display: block; float: right; text-decoration: none; color: #FFFFFF; font-size: 1.55rem; /* 12px (1rem) */ font-weight: 400; }
  #content > #mainMenu > ul > li > a:hover { color: #ac926d; font-size: 1.8rem; }
  #content > #mainMenu > ul > li > a:active { color: #ac926d; }
  #content > #menu { display: none; }
  #content > #contactBox { width: 100%; height: auto; box-sizing: border-box; padding: 5% 22%; }
  #content > #contactBox > ul { width: 100%; height: auto; border: 4px solid #e9ddcc; padding: 10% 0; }
  #content > #contactBox > ul > li { width: 100%; height: auto; color: #101010; font-size: 1rem; font-weight: bold; text-align: center; margin-bottom: 10px; }
  #content > #contactBox > ul > li > a { display: block; text-decoration: none; color: #101010; }
  #content > #contactBox > ul > li:first-child { font-size: 1.5rem; margin-bottom: 2px; }
  #content > #contactBox > ul > li:nth-child(2) { color: #ac926d; }
  #footBox { width: 100%; height: 40px; /* 40px */ margin: 0 auto; }
  #footBox > p { color: #080600; font-size: 0.75rem; /* 12pt, 0.75em */ text-align: center; font-weight: 200; margin-bottom: 20px; } }

/*# sourceMappingURL=contact.css.map */
