// tab_768_main


#container{width: 100%; height: 100%; margin: 0 auto; 
        /*position: relative;*/}
        #headBox{
            width: 100%; 
            height: auto; 
            box-sizing: border-box; 
            padding: 40px 20px 10px;
            float: left;
            >.main_logo{
                width: auto; max-width: 768px; 
                height: auto;
                float: left;
                /*margin-top: 15%;*/
                >p{ width: auto;
                    float: left;
                    color: $sub1; 
                    margin-top: 15%;
                    /*margin-left: 12px;*/
                    font-family: "Exo 2";
                    font-weight: 600;
                    font-size: 3.3854vw; /* 20pt 26px */
                    text-align: center;
                    >br{display:none;}
                }
                >a{
                    width: 26vw /* 220px */; 
                    height: 20vw; /* h203px */
                    display: block;
                   /* box-sizing: border-box;
                    margin: 12% 10px 0 35px;*/
                    float: left;
                    margin-left: 4vw; /* 80px */
                    margin-bottom: 5.5vw; /* 60px */
                    background-image: url("../img/my_logo_768.png");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 60%;
                   /* position:absolute;
                    left:37%;*/
                }
            } // .main_logo
            >h2{
                    width: auto; height: auto;
                    float: right;
                    color: $black;
                    margin-top: 10%;
                    /*margin-left: 22px;*/
                    font-family: "Exo 2";
                    font-size: 3.3854vw; /* 20pt 26px */
                    font-weight: 700;
                    /*line-height: 12.5vw;  lh60px */
                    text-align: center;
                }
            
/* ---------------- 메뉴 버튼 이벤트 시작 ---------------- */
            .icon_box{
                z-index: 111;
                width: 10.4167vw;
                height: 8.3333vw;
                margin: 0 auto;
                top: 8.3333vw; /* 40px */
                right: 4.1667vw; /* 20px */
                cursor: pointer;
                position: absolute;
                display: none;
                  
                >.menu_icon{
                    -webkit-transition: all 0.4s ease-out;
                    transition: all 0.4s ease-out;    
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 10.4167vw; /* 50px */
                    height: 2px;
                    background-color:$main;
                    
                    &:before, &:after{
                    -webkit-transition: all 0.25s ease-out;
                    transition: all 0.25s ease-out;
                    position: absolute;
                    width: 10.4167vw; /* 50px */
                    height: 2px;
                    background-color:$main;
                    content:'';}
                    &:before{
                        top: -2.0833vw; /* -10px */
                        left: 0;}
                    &:after{
                        top: 2.0833vw; /* 10px */
                        left: 0;}
                  }//.icon
                    
                  &:hover{
                    .menu_icon{
                      background-color:$main2;
                      &:before{
                        top: -3.125vw; /* -15px */
                        background-color: $main2;}
                      &:after{
                        top: 3.125vw; /* 15px */
                        background-color:$main2;}
                    }
                  }
                  &.open{
                    .menu_icon{
                      -webkit-transition: all 0.4s ease-out;
                      transition: all 0.4s ease-out;    
                      background-color: transparent;
                      -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                      &:before{
                        top:0;
                        -webkit-transform: rotate(45deg);
                          transform: rotate(45deg);
                      }
                      &:after{
                        top:0;
                        -webkit-transform: rotate(-45deg);
                          transform: rotate(-45deg);
                      }
                    }//.icon
                  }//.icon_box .open
                }//.icon_box 
            /* menu_btn 이벤트 종료 */
        } //#headBox
    #content{width: 100%;
            height: auto;
           /* >#mainMenu{display: none;} */       
            >#menu{width: 100%; 
                height: 100%;
                float: left;
                >ul{
                    width: 100%; 
                    height: 100%;
                    >li{width: 100%;
                        height: 8vw;
                        box-sizing: border-box;
                        padding-top: 2.5vw;
                        /*margin-bottom: 6.042vw;*/ /* 29px */
                        &:first-child{display:none;}
                        >a{ width: 100%; height: 8vw;
                            display: block;
                            box-sizing: border-box;
                            padding-top: 2.5vw;
                            text-decoration: none;
                            color: $main2;
                            font-family: "Exo 2";
                            font-size: 2.8646vw; /* 16pt 22px */ 
                            font-weight: 500;
                            text-align: center;
                            &:hover{color: main3;
                                background-color: rgba($main, 0.5);}
                            &:active{color:$main3;}
                        }// a
                           &:nth-child(even){
                               display: none;
                        }
                        /*&:last-child{border: none;}*/
                    } // li
                } // ul  
            } // #menu
        >#mainMenu{display: none;}
        }
        #footBox{width: 100%; height: auto;  
            >#Jcontact{width: 100%; 
                height: 18.75vw; /* h120px */
                margin: 0 auto;
                margin-top:  6.25vw; /* 40px */
                float: left;
                >ul{
                    width: 100%; 
                    height: 100%; 
                    float: left;
                    >li{ float: left; 
                        color: $black2; 
                        font-family: "Exo 2";  
                        text-align: center;}
                    >.c01{display: none;
                    }
                    >.c02{
                        width: 8.125vw; /* 52px */ 
                        height: 4px;
                        border-bottom: 3px solid $main2;
                        margin: 0 45.5% 2.6042vw; /* 20px */
                    }
                    >.c03{width: 100%;
                        color: $black2; 
                        font-size: 2.8646vw; /* 16pt 22px */ font-weight: 600;}
                    >.c04{width: 100%;
                        font-size: 2.8646vw; /* 16pt 22px */ font-weight: 600;}
                }  
            }
            >p{width: 100%; height: auto;
                margin-top: 4.6875vw; /* 30px */
                color:$black2;
                font-size: 2.0833vw; /* 12pt 16px */
                text-align: center;
                font-weight: 200;
            }
        } // #footBox
