@charset "UTF-8";
/* 헤더 */
#headBox { width: 100%; height: auto; /* logo */ }
#headBox > h1 { position: fixed; top: 50px; left: 50px; z-index: 10; }
#headBox > h1 > a { width: 200px; height: 96px; display: block; text-decoration: none; }
#headBox > h1 > a > img { width: 200px; height: auto; }
#headBox > button { display: none; }
#headBox > #moMenu { display: none; }

/* sns */
#snsBox { position: fixed; top: 40px; right: 50px; z-index: 14; }
#snsBox > li { float: left; margin-left: 20px; }
#snsBox > li > a { display: block; text-decoration: none; }
#snsBox > li > a > i { font-size: 25px; color: #e3e3e3; opacity: 0.5; transition: all 0.3s; }
#snsBox > li > a > i:hover { transform: scale(1.5); color: #d80106; opacity: 1; }

/* 메뉴 */
#aside { width: 100%; height: auto; }
#aside > #menu { position: fixed; top: 25%; left: 0; margin-top: 100px; z-index: 13; background-color: rgba(16, 16, 16, 0.7); /*>li:nth-child(1):hover>a{ color: #d80106; border-color: #d80106;}
>li:nth-child(2):hover>a{ color: #7a4b08; border-color: #7a4b08;}
>li:nth-child(3):hover>a{ color: #090900; border-color: #090900;}
>li:nth-child(4):hover>a{ color: #12418e; border-color: #12418e;}
>li:nth-child(5):hover>a{ color: #bd0a0a; border-color: #bd0a0a;}
>li:nth-child(6):hover>a{ color: #d80106; border-color: #d80106;}
>li:nth-child(7):hover>a{ color: #090900; border-color: #090900;}
>li:nth-child(8):hover>a{ color: #d80106; border-color: #d80106;}

>li:nth-child(1).on>a{ color: #d80106; border-color: #d80106;}
>li:nth-child(2).on>a{ color: #7a4b08; border-color: #7a4b08;}
>li:nth-child(3).on>a{ color: #090900; border-color: #090900;}
>li:nth-child(4).on>a{ color: #12418e; border-color: #12418e;}
>li:nth-child(5).on>a{ color: #bd0a0a; border-color: #bd0a0a;}
>li:nth-child(6).on>a{ color: #d80106; border-color: #d80106;}
>li:nth-child(7).on>a{ color: #090900; border-color: #090900;}
>li:nth-child(8).on>a{ color: #d80106; border-color: #d80106;}*/ }
#aside > #menu > li > a { display: block; text-decoration: none; width: 240px; height: 60px; font-size: 14px; box-sizing: border-box; padding-top: 4px; padding-right: 4px; color: #fff; text-align: right; overflow: hidden; box-sizing: border-box; border-top: 1px solid #101010; opacity: 0.8; transition: all 0.5s; }
#aside > #menu > li:hover > a { font-size: 24px; font-weight: bold; opacity: 1; color: #fff; background-color: rgba(216, 1, 6, 0.7); }
#aside > #menu > li.on > a { font-size: 24px; font-weight: bold; color: #fff; background-color: rgba(216, 1, 6, 0.7); opacity: 1; }

/* 내용 */
#content > section { width: 100%; height: 100%; position: relative; background-size: cover; background-position: right center; background-attachment: fixed; overflow: hidden; /* &.gall_box>h2{width: 100%; height: auto; color: #fff; font-size: 2rem; font-weight: bold; opacity: 0.8; text-align: left; box-sizing: border-box; padding-left: 300px; margin-top: 160px;}*/ }
#content > section:nth-child(1) { background-image: url("../img/bg/bvs.jpg"); }
#content > section:nth-child(2) { background-image: url("../img/bg/wbg.png"); }
#content > section:nth-child(3) { background-image: url("../img/bg/bbg.png"); }
#content > section:nth-child(4) { background-image: url("../img/bg/cbg.png"); }
#content > section:nth-child(5) { background-image: url("../img/bg/sbg.png"); }
#content > section:nth-child(6) { background-image: url("../img/bg/wwbg.png"); }
#content > section > .m_title { width: 700px; height: 180px; }
#content > section > .m_title > img { position: absolute; z-index: 20; top: 0; right: 0; margin-top: 40%; margin-right: 30%; }
#content > section > div { position: absolute; top: 40%; left: 500px; z-index: 11; }
#content > section > div > h2 { width: 100%; height: auto; font-size: 2rem; font-weight: bold; letter-spacing: 2px; line-height: 1; }
#content > section > div > p { font-size: 1rem; font-weight: bold; margin-bottom: 20px; border-bottom: 1px solid #d80106; }
#content > section > div > span { font-size: 1rem; }
#content > section > div:nth-child(1) h2 { color: #fff; opacity: 0.7; text-shadow: 1px 1px 1px #101010; }
#content > section > div:nth-child(1) p { color: #fff; opacity: 0.7; text-shadow: 1px 1px 1px #101010; }
#content > section > div:nth-child(1) span { color: #eee; }
#content > section > .e01 { position: absolute; bottom: 20px; right: 20px; }
#content > section > .e02 { position: absolute; bottom: -40px; right: 120px; }
#content > section > .e03 { position: absolute; top: 180px; right: 60px; }
#content > section > .symbol { position: absolute; width: 150px; top: 300px; right: 445px; opacity: 0.7; }
#content > section > .symbol2 { position: absolute; width: 250px; top: 400px; right: 400px; opacity: 0.7; }
#content > section > .symbol3 { position: absolute; width: 250px; top: 360px; right: 380px; opacity: 0.7; }
#content > section > .symbol4 { position: absolute; width: 250px; top: 360px; right: 400px; opacity: 0.7; }
#content > section > .symbol5 { position: absolute; width: 250px; top: 380px; right: 400px; opacity: 0.7; }
#content > section > p { width: 100%; height: auto; color: #fff; text-align: center; font-size: 1.5rem; font-weight: bold; margin-top: 45%; opacity: 0.8; position: absolute; z-index: 20; }
#content > section > .ord_btn { display: block; text-decoration: none; width: 245px; height: 45px; position: absolute; top: 0; left: 0; z-index: 20; margin-left: 42.5%; margin-top: 50%; color: #fff; font-size: 2rem; font-weight: bold; text-align: center; box-sizing: border-box; padding: 8px; opacity: 0.8; background-image: url("../img/tickets-bg.png"); background-position: center center; background-repeat: no-repeat; }
#content > section > .vid { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: url("../img/bg/bg3.jpg"); background-position: center center; background-repeat: no-repeat; }
#content > section > .vid.vid2 { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
#content > section > .vid > video { width: 100%; min-width: 1600px; }
#content > section > #gBox { width: 50%; height: auto; position: absolute; top: 120px; left: 32%; z-index: 1; }
#content > section > .gallery { width: 900px; height: 120px; /*150px;*/ margin: 0 auto; background-color: transparent; overflow: hidden; border: 1px solid #d80106; padding: 40px 80px; position: absolute; bottom: 60px; left: 25%; z-index: 1; }
#content > section > .gallery > li { width: 100px; height: auto; margin-right: 10px; float: left; overflow: hidden; padding: 10px; }
#content > section > .gallery > li:nth-child(7) { margin-right: 0; }
#content > section > .gallery > li:nth-child(14) { margin-right: 0; }
#content > section > .gallery > li > a { width: 100%; height: 100%; float: left; display: block; }
#content > section > .gallery > li > a > img { width: 100%; height: auto; opacity: 0.5; transition: all 0.5s linear; }
#content > section > .gallery > li > a > img:hover { transform: scale(1.5); opacity: 1; }
#content > section > #vdBox { background-image: url("../img/bg/batman_v_superman_2016-wide.jpg"); background-position: center center; background-repeat: no-repeat; }

/*  푸터 */
#footBox { width: 100%; height: 40px; box-sizing: border-box; padding: 10px 40px; background-color: #1e1e1e; }
#footBox > h2 { width: 60px; height: 28px; margin-right: 200px; float: left; }
#footBox > h2 > img { width: 60px; }
#footBox > p { width: 500px; height: auto; font-size: 0.5rem; font-weight: normal; text-align: right; color: #e3e3e3; float: right; }

/*# sourceMappingURL=index.css.map */
