//content.scss
@import "./lib/basic.scss";

#newsBox_01{width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);    
    #naNews_01{width: 500px; height: auto; margin: 0 auto; position: relative;
        padding: 60px 10px 10px; box-sizing: border-box;
        border: 1px solid $sub2;
        background-color: $white;
        >h2{width: 100%; height: 100%; margin-bottom: 4px;
            color: $black; font-size: 2rem; font-weight: bold; text-align: left; }
        >p{color: $black; font-size: 0.875rem; font-weight: normal; margin-bottom: 10px;}
        >button{width: 50px; height: 50px; position: absolute; top: 10px; left:90%; 
            background-color: transparent;
        >.na_close{color: $black; font-size: 2rem; }
        >span{width: 0; height: 0; display: block; overflow: hidden;}    
        }// button
        >ul{width: 100%; height: 640px; overflow: scroll; overflow-x:hidden; 
            margin: 0 auto; padding-right: 5000px; 
            >li{width: 100%; height: auto;  
                >img{width: 460px; height: auto; margin-bottom: 10px; }
                >.n_title{font-weight: bold;}
                >p{width: 100%; height: auto; margin-bottom: 40px; 
                    color: $black;
                    font-size: 0.875rem; font-weight: normal; text-align: left; 
                }// p
            }// li
        }// ul
    }// #naNews_01
}// #newsBox_01
